{% extends "base.html" %}
{% block title %}Movie Recommender System - Register{% endblock %}

{% block content %}


<h1 id="heading">Register</h1>

<form method="post" action="">  
    <div>   
        <label>Username:
        <input type="text" placeholder="Enter Username" name="username" required>
        </label>
        <br>
        <label>Password:
        <input type="password" placeholder="Enter Password" name="password" required>
        </label>
        <br>
        <label>Repeat password:
        <input type="password" placeholder="Enter Password" name="repeated_password" required>
        </label>
        <br>
        <button type="submit">Register</button>
    </div>   
</form>
<div style="margin-top: 20px;" class="text-center">
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</div>

{% if error_msg %}
    <br>
    <div class="alert alert-danger center-block" style="width: 80%;margin: auto;" role="alert">
        <p class="text-center">{{ error_msg }}</p>
    </div>
{% endif %}

{% endblock %}